all = false
allow-same-version = false
audit = true
audit-level = info
color = always
engine-strict = true
force = false
format-package-lock = true
fund = false
if-present = true
loglevel = notice
node-options = --max_old_space_size=8192
progress = true
registry = https://registry.npmjs.org/
save-prefix = ""
shell = bash
strict-ssl = false
resolution-mode = highest
prefer-frozen-lockfile = true
disallow-workspace-cycles = true
